/*
Tecnicas BEM para escritura de codigo escalable y limpio

B - Bloque (Componente independiente y reutilizable). Ej: <div class="box">
E - Elemento (Parte del bloque, no tiene sentido por sí solo). Ej: <h1 class="box__title">
M - Modificador (Variante de un bloque o elemento). Ej: <h1 class="box__title--strong">
*/

@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: indigo;
    color: white;
    font-family: 'Krona One', sans-serif;
}
.main__strong{
    color: #22D4FD;
}

.main{
    box-sizing: content-box;
    background-color: black;
    width: 50%;
    height: 100vh;
    margin: auto;
    border-style: ridge;
    border-radius: 2%;
}

.main__text{
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
}

.button__link{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600; /*semiBold*/
    
}

.button{
    background-color: #22D4FD;
    width: 100px;
    padding: 10px 10px;
}

.main__text--soyAna {
    color:coral;
}

.main__img--ana{
    border-radius: 25%;
    width: 40%;
}