/*
Tecnicas BEM para escritura de codigo escalable y limpio

B - Bloque (Componente independiente y reutilizable). Ej: <div class="box">
E - Elemento (Parte del bloque, no tiene sentido por sí solo). Ej: <h1 class="box__title">
M - Modificador (Variante de un bloque o elemento). Ej: <h1 class="box__title--strong">
*/

@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: indigo;
    color: white;
    font-family: 'Krona One', sans-serif;
}
.main__strong{
    color: #22D4FD;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    max-width: 90vw;
    min-height: 80vh;
    margin: auto;
    flex-wrap: wrap;
    box-sizing: content-box;
    background-color: black;
    border-style: ridge;
    border-radius: 2%;
}

.main__content {
    flex: 1;
    width: 30vw;
    max-width: 50vw;
    text-align: justify;
    margin: 30px 30px;
}

.main__title{
    font-size: 20px;
}
.main__text{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    margin-bottom: 1rem;
}

.main__buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-between;
    gap: 1rem;
}

.button__link{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600; /*semiBold*/
    font-size: 15px;
    display: flex;
}

.button{
    background-color: #22D4FD;
    border: none;
    border-radius: 16px;
    padding: 1.2rem 2.5rem;
    cursor: pointer;
    flex: 1;
    justify-items: center;
}

.main__text--soyAna {
    color:coral;
}

.main__img--ana{
    border-radius: 25%;
    width: 100%;
}

.main__image-container {
    
    width: 30vw;
    max-width: 30vw;
    flex-wrap: wrap;
    min-width: 20vw;
    display: flex;
    justify-content: center;
    margin: 30px 90px;
}

.section__box{
    flex-direction: column;
    box-sizing: border-box;
}

.main__title.section__title{
text-align: center;
}