.title {
  background-color: #03045e;
  color: #f6f6f6;
  padding: 30px;
  width: auto;
  text-align: center;
}
.main .main__texto {
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  color: #CAF0F8;
  text-shadow: /*Sombreado*/
  -1px 0px 0px #000, /*borde izq*/
  1px 0px 0px #000, /*derecho*/
  0px -1px 0px #000, /*superior*/
  0px 1px 0px #000; /*inferior*/
}
.main .main__texto--destacado {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 30px;
  text-align: center;
  height: 100%;
  font-weight: bolder;
  color: #f6f6f6;
  text-shadow: /*Sombreado*/
    -3px 0px 0px #000, /*borde izq*/
    3px 0px 0px #000, /*derecho*/
    0px -3px 0px #000, /*superior*/
    0px 2px 0px #000, /*inferior*/
    10px 10px 10px #03045e; /*profundidad*/
}
.main {
  background-color: #0077b6;
  width: auto;
  height: auto;
  padding: 35px;
}

.box__text--js{
  color: yellow;
}

body {
  background-color: #d2d2d4;
}
